<div class="col-md-6 offset-md-3">
    <div class="card">
        <div class="card-header">
            <h1>Artigos</h1>
        </div>
        <div class="card-body">
            Cadastre seus artigos aqui
        </div>
        <div class="card-footer">
            <form action="">
                <div class="form-group">
                    <input type="text" name="name" placeholder="Nome do Artigo" class="form">
                </div>
            </form>
        </div>
    </div>


</div>